.task-list-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  height: 100%;
  position: relative;
}

.task-items {
  flex-grow: 1;
  overflow-y: hidden;
  padding-bottom: 80px;
}

.pagination-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 5px;
  text-align: center;
  z-index: 100;
}